body {
    background-color: var(--color-grey-700);
}

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.header {
    height: 6rem;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;

}

.logo img {
    width: 100%;
    height: 100%;
}

.logo {
    height: 2.6rem;
    width: 8rem;
}

.button_opem_post {
    margin-bottom: 15rem;
}

@media (max-width: 700px) {
    body {
        padding: 0 1rem;
    }
}